a { cursor: pointer; }


#remoteDiv {
	display: none;
	width:179px;
	height:210px;
	right: 25px;
	bottom: 55px;
	position: fixed;
	z-index: 999;
}

.remoteFrame {
	position: relative;
}

#remoteDiv iframe {
	width: 159px;
	height:210px;
	overflow: hidden;
	border: solid 1px #111;
	position:relative;
	margin: 0 auto;
}

#progressbar .slider-selection {
	background: #333;
}

#progressbar .slider-handle {
	background: #555;
}

#progressbar .slider-track-right {
	background: #666;
}

#progressbar {
	width: 600px;
}

#volumebar {
	width: 100px;
}

#volumebar .slider-selection {
	background: #333;
}

#volumebar .slider-handle {
	background: #555;
}

#volumebar .slider-track-right {
	background: #666;
}

.episode-title {
	margin: 0 !important;
	padding: 0;
}
.show-title {
	margin: 0 !important;
	padding: 0;
}
.episode-num {
	font-size: 80%;
	margin: 0 !important;
	font-style: italic;
}
.episode-desc {
	padding-top: 5px;
}

ul.recent-episodes li {
	padding-bottom: 15px;
	padding-top: 5px;
	border-bottom: dotted #444 1px;
}

p.movie-cast {
	font-size: 80%;
	margin: 0 !important;
	font-style: italic;
}

div.image-placeholder {
	background-color: #272b30;
	text-align: center;
	margin: 0 auto;
}

div.image-placeholder img {
	border: none;
}
span#secdisp {
	padding-right: 10px;
}


.row {
	padding-bottom: 50px;
}

.tv-info-showtitle {
	margin-top: 5px;
	margin-bottom: 3px;
}

.tv-info-epititle {
	margin: 0;	
}

.tv-info-epinum {
	margin: 0;
	font-size: 80%;
	font-style: italic;
}

#progress-container {
	float: left;
	vertical-align: middle;
	height: 50px;
	padding-left: 10px;
}

#controls-container {
	float: left;
	font-size: 150%;
	border-left: solid 1px rgba(0,0,0,0.2);
	border-right: solid 1px rgba(0,0,0,0.2);
	padding-left: 10px;
	padding-right: 10px;
}

#volume-icon {
	margin-left: 20px;
	margin-right: 5px;
	font-size: 120%;
}

.tv-banner {
	width: 375px;
}

/* CSS for jQuery More plugin v2.0.0. */
.more-hidden {
	display: none;
}
.more-link {
	margin-left: 1em;
	padding: 0.125em;
}
/* end more CSS */

p.center { 
	text-align: center;
}

.showplot {
	font-size: 90%;
}
