a { cursor: pointer; }


#remoteDiv {
	display: none;
	width:179px;
	height:210px;
	right: 25px;
	bottom: 55px;
	position: fixed;
	z-index: 999;
}

.remoteFrame {
	position: relative;
}

#remoteDiv iframe {
	width: 159px;
	height:210px;
	overflow: hidden;
	border: solid 1px #111;
	position:relative;
	margin: 0 auto;
}

#progressbar .slider-selection {
	background: #333;
}

#progressbar .slider-handle {
	background: #555;
}

#progressbar .slider-track-right {
	background: #666;
}

#progressbar {
	width: 800px;;
}

.episode-title {
	margin: 0 !important;
	padding: 0;
}
.show-title {
	margin: 0 !important;
	padding: 0;
}
.episode-num {
	font-size: 80%;
	margin: 0 !important;
	font-style: italic;
}
.episode-desc {
	padding-top: 5px;
}

ul.recent-episodes li {
	padding-bottom: 15px;
	padding-top: 5px;
	border-bottom: dotted #444 1px;
}

p.movie-cast {
	font-size: 80%;
	margin: 0 !important;
	font-style: italic;
}

div.image-placeholder {
	background-color: #272b30;
}

div.image-placeholder img {
	border: none;
}
span#secdisp {
								padding-right: 10px;
}
