{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
	{%- block html %}
	<head>
		{%- block head %}
		<title>{% block title %}{% endblock title %}</title>

		{%- block metas %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
			{%- endblock metas %}

			{%- block styles %}
			<!-- Bootstrap -->
			<link href="/static/css/main.css" rel="stylesheet" media="screen">
			<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
			<link href="/static/css/bootstrap-slider.css" rel="stylesheet" media="screen">
					{%- endblock styles %}
					{%- endblock head %}
				</head>
				<body{% block body_attribs %}{% endblock body_attribs %}>
					{% block body -%}
					{% block navbar %}
					<nav class="navbar navbar-default">
						<div class="container">
							<div class="navbar-header">
								<a class="navbar-brand" href="#">TARS</a>
							</div>
							<div id="navbar" class="navbar-collapse collapse">
								<ul class="nav navbar-nav">
									<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
									<li><a href="/movies"><span class="glyphicon glyphicon-film" aria-hidden="true"></span> Movies</a></li>
									<li><a href="#contact"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> TV Shows</a></li>
									<li><a href="#contact"><span class="glyphicon glyphicon-music" aria-hidden="true"></span> Music</a></li>
								</ul>
								<form class="navbar-form navbar-left" role="search">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Movie, TV Show...">
									</div>
									<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
								</form>
							</div><!--/.nav-collapse -->
						</div>
					</nav>

					<div class="remoteDiv" id="remoteDiv" style="display:none;">
					<div class="remoteFrame">
						<iframe scrolling="no" src="/remote"></iframe>
					</div>
					</div>
					{%- endblock navbar %}
					{% block content -%}
					{%- endblock content %}

					{% block footer %}
						<footer>
							<div class="navbar navbar-default navbar-fixed-bottom">
								<div class="container">
									<div class="navbar-collapse collapse" id="footer-body">
										<div class="nav navbar-nav navbar-left" style="line-height: 50px;">
											<div style="vertical-align: middle; height:50px;">
												<span id="secdisp" >0:00 / 0:00</span>												<input id="progressbar" class="navbar-test" type="text" data-slider-min="0" data-slider-max="720" data-slider-id="progressbar">
											</div>
										</div>
										<ul class="nav navbar-nav navbar-right">
											<li><a id="remote-button"><span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>&nbsp; Remote</a></li>
										</ul>
									</div>
									
								</div>
							</div>
						</footer>
						{%- endblock footer %}

					{% block scripts %}
					<script src="/static/js/jquery-1.11.2.min.js"></script>
					<script src="/static/js/bootstrap.min.js"></script>
					<script src="/static/js/holder.min.js"></script>
					<script src="/static/js/bootstrap-slider.js"></script>
					<script>
						$("#remote-button").click(function() {
							$("#remoteDiv").toggle();
						});
						$(document).ready(function() {	
						var pBar = $("#progressbar").slider();
						$(".imdbOpen").click(function() {
							window.open("//imdb.com/title/" + $(this).attr("data-imdb-number"));
						});
						$(".playMovie").click(function() {
							$.get("/play/movie/" + $(this).attr("data-movie-id"));
						});
						$(".enqueueMovie").click(function() {
							$.get("/enqueue/movie/" + $(this).attr("data-movie-id"));
						});
						$(".playEpisode").click(function() {
							$.get("/play/episode/" + $(this).attr("data-episode-id"));
						});
						$(".enqueueEpisode").click(function() {
							$.get("/enqueue/episode/" + $(this).attr("data-episode-id"));
						});
						$(".trailerMovie").click(function() {
							$.get("/play/trailer/" + $(this).attr("data-movie-id"));
						});

						window.setInterval(function() {
							updateSlider();
						}, 2500);

						function pad(a){return(1e2+a+"").slice(-2)}

						function updateSlider() {
							$.getJSON('/get_properties','',function(data) {
								if (data.error) {
							pBar.slider('setAttribute','max',100);
							pBar.slider('setValue',0);
						$("#secdisp").html("0:00 / 0:00");
									return;
								}
								
								var setMax = ((data.result.totaltime.hours *3600) + (data.result.totaltime.minutes * 60) + data.result.totaltime.seconds) / 5;
								console.log("setMax"+setMax);
							pBar.slider('setAttribute','max',setMax);
							var newVal = setMax * (data.result.percentage / 100);
							pBar.slider('setValue',newVal);
							if (data.result.totaltime.hours == 0) 
							{
							var curTime = ""+pad(data.result.time.minutes)+":"+pad(data.result.time.seconds);
							var fullTime  = ""+pad(data.result.totaltime.minutes)+":"+pad(data.result.totaltime.seconds);
							}
							else {
							var curTime = ""+data.result.time.hours+":"+pad(data.result.time.minutes)+":"+pad(data.result.time.seconds);
							var fullTime  = ""+data.result.totaltime.hours+":"+pad(data.result.totaltime.minutes)+":"+pad(data.result.totaltime.seconds);
							}
						$("#secdisp").html(curTime+" / "+fullTime);
							});
						}
						});
					</script>
					{%- endblock scripts %}
					{%- endblock body %}
				</body>
				{%- endblock html %}
			</html>
			{% endblock doc -%}
