{% extends "base.html" %}
{% block title %}TARS{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Recently Added TV Shows</h3>
					</div>
					<div class="panel-body">
						<ul class="media-list recent-episodes">
							{% for episode in recently_added_episodes %}
								<li class="media">
									<div>
										<div class="media-left">
											<div class="holderjs image-placeholder" style="width:170px; height: 96px;" data-background-src="?holder.js/170x96/industrial/#272b30:#c8c8c8/text:{{episode.showtitle}}">
													<img class="media-object" width="170" height="96" src="http://localhost:8080/image/{{ episode.thumbnail|urlencode }}" onerror='this.style.display = "none"'>
										</div>
											</div>

											<div class="media-body">
												<h4 class="show-title media-heading">{{episode.showtitle}}</h4>
												<p class="episode-title">{{ episode.title }}</p>
												<p class="episode-num">Season {{episode.season}} - Episode {{episode.episode}} ({{episode.firstaired}})</p>
												<p class="episode-desc">{{ episode.plot|truncate(190) }}</p>
												<div class="btn-group">
													<button type="button" data-episode-id="{{ episode.episodeid }}" class="playEpisode btn btn-success btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play</button>
													<button type="button" data-episode-id="{{ episode.episodeid }}" class="enqueueEpisode btn btn-default btn-xs"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Enqueue</button>
													<button type="button" data-episode-id="{{ episode.episodeid }}" class="infoEpisode btn btn-default btn-xs"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Info</button>
												</div>

											</div>

										</div>	
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Recently Added Movies</h3>
						</div>
						<div class="panel-body">
							<ul class="media-list">
							{% for movie in recently_added_movies %} 
								<li class="media">
									<div>
								<div class="media-left">
									<a href="#">
										<div class="image-placeholder" style="width:80px; height: 80px;">
										<img class="media-object" width="80" height="120" src="http://localhost:8080/image/{{ movie.thumbnail|urlencode }}" alt="Generic placeholder image">
										</div>
										</a>
									</div>

									<div class="media-body">
										<h4 class="media-heading">{{ movie.originaltitle }}</h4>
										<p class="movie-cast">
											{% for cast in movie.cast[:3] %}
												{{cast.name}}{% if not loop.last %}, {% endif %}
											{%endfor%}
										</p>
										<p class="movie-desc">{{ movie.plot|truncate(150) }}</p>
										<div class="btn-group">
											<button data-movie-id="{{movie.movieid}}" type="button" class="playMovie btn btn-success btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play</button>
											<button data-movie-id="{{movie.movieid}}" type="button" class="enqueueMovie btn btn-default btn-xs"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Enqueue</button>
											<button data-movie-id="{{movie.movieid}}" type="button" class="btn btn-default btn-xs"><span class="infoMovie glyphicon glyphicon-info-sign" aria-hidden="true"></span> Info</button>
											<button data-imdb-number="{{movie.imdbnumber}}" type="button" class="imdbOpen btn btn-default btn-xs">IMDb</button>
											<button type="button" data-movie-id="{{movie.movieid}}" data-trailer-id="{{movie.trailer}}" class="trailerMovie btn btn-default btn-xs">Trailer</button>
										</div>

									</div>
								</div>
							</li>
							{% endfor %}
							</ul>
						</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Current Playlist</h3>
							</div>
							<table class="table table-striped">
								<thead>
									<tr><th colspan="2">Video</th></tr>
									<tr><th>#</th><th>Title</th><th>Duration</th></tr>
								</thead>
								<tbody>
									{% for item in video_playlist %}
										<tr> <td>{{ item.id }}</td><td>{{ item.title }}</td><td>{{ item.runtime // 60 }}
									{% endfor %}
								</tbody>

								<thead>
									<tr><th colspan="2">Audio</th></tr>
									<tr><th>#</th><th>Title</th><th>Duration</th></tr>
								</thead>
								<tbody>
									{% for item in audio_playlist %}
										<tr> <td>{{ item.id }}</td><td>{{ item.title }}</td><td>{{ item.duration // 60}}:{{ item.duration - (60 * (item.duration // 60))}}</td> </tr>
									{% endfor %}
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		{% endblock %}
