{% extends "base.html" %}
{% block title %}TARS - Movies{% endblock %}

{% block content %}
<!-- info modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<iframe frameborder="0" class="info-iframe"></iframe>
</div>
</div>
</div>
<!-- end info modal -->

	<div class="container-fluid">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="/movies">Movies</a></li>
			<li><a href="/movies/genre">By Genre</a></li>
			<li class="active">{{this_genre}}</li>
		</ol>
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Genres</h3>
					</div>
					<div class="list-group">
						{% for genre in genres %}
							<a href="/movies/genre/{{ genre.genreid }}" class="list-group-item">{{ genre.label }}</a>
						
						{% endfor %}

					</div>
				</div>
			</div>

			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"> {{ this_genre }} Movies {%if movies %}({{ movies|length}}){% endif %}</h3>
					</div>
					{% if not movies %}
					<div class="panel-body">
						<p>Please choose a genre from the left.</p>
					</div>
					{% else %}
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Title</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for movie in movies %}
									<tr>
										<td> {{ movie.originaltitle }} ({{ movie.year }}) </td>
										<td style="text-align: right;">{% include 'movie-action-buttons.html' %}</td>
									</tr>
								{% endfor %}
						</table>
					{% endif %}



				</div>


							</div>
						</div>
					</div><!-- end col -->
				</div>

			</div>
		</div>
	</div>
{% endblock %}
