{% extends "base.html" %}
{% block title %}TARS - Movies{% endblock %}

{% block content %}
<!-- info modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<iframe frameborder="0" class="info-iframe"></iframe>
</div>
</div>
</div>
<!-- end info modal -->

	<div class="container-fluid">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="/movies">Movies</a></li>
			<li>By Title</li>
			<li class="active">Media Info</li>
		</ol>
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Style</h3>
					</div>
					<div class="list-group">
						<a href="/movies/title" class="list-group-item">List</a>
						<a href="/movies/title/info" class="list-group-item">Media Info</a>

					</div>
				</div>
			</div>

			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Movies</h3>
					</div>
					<div class="panel-body">
													{% for row in movies %}
						<div class="row">
						{% for movie in row %}
							<div class="col-md-4">
						<div class="thumbnail">
														<img class="media-object" width="120" height="180" src="{{ config.KODI_URI }}/image/{{ movie.thumbnail|urlencode }}" alt="Generic placeholder image">
							<div class="caption">
								<div class="text-center">
																<h4>{{ movie.originaltitle }}</h4>
																<p class="movie-cast">
											{% for cast in movie.cast[:5] %}
												{{cast.name}}{% if not loop.last %}, {% endif %}
											{%endfor%}
										</p>
										<p></p>
										<p class="movie-desc" style="font-size:85%;">{{ movie.plot|truncate(350) }}</p>
<div class="btn-group">
													<button type="button" data-movie-id="{{ movie.movieid }}" class="playMovie btn btn-success btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play</button>
													<button type="button" data-movie-id="{{ movie.movieid }}" class="enqueueMovie btn btn-default btn-xs"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Enqueue</button>
													<button type="button" data-movie-id="{{ movie.movieid }}" data-toggle="modal" data-target="#infoModal" class="infoMovie btn btn-default btn-xs"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Info</button>
												</div>
<div class="btn-group">
								<button type="button" data-movie-id="{{ movie.movieid }}" data-imdb-number="{{ movie.imdbnumber }}" class="imdbOpen btn btn-default btn-xs">IMDb</button>
													<button type="button" data-movie-id="{{ movie.movieid }}" data-trailer-id="{{ movie.trailer }}" class="trailerMovie btn btn-default btn-xs">Trailer</button>
												</div>


				</div>


							</div>
						</div>
					</div><!-- end col -->
					{% endfor %}
				</div>
				{% endfor %}

			</div>
		</div>
	</div>
{% endblock %}
