{% extends "base.html" %}
{% block title %}TARS - {{ show.label }} - Season {{ season_id }}{% endblock %}

{% block content %}
<!-- info modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<iframe frameborder="0" class="info-iframe"></iframe>
</div>
</div>
</div>
<!-- end info modal -->

	<div class="container-fluid">
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="/tv-shows">TV Shows</a></li>
			<li><a href="/tv-shows/{{ show_id}}">{{ show.label }}</a></li>
			<li class="active">Season {{season_id}}</li>
		</ol>
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">{{ show.label }}</h3>
					</div>
					<div class="list-group">
						{% for season in seasons %}
							{% if season.season == season_id %}
								<a href="/tv-shows/{{ show_id }}/{{ season.season }}" class="list-group-item active">{{ season.label }}</a>
							{% else %}
								<a href="/tv-shows/{{ show_id }}/{{ season.season }}" class="list-group-item">{{ season.label }}</a>
							{% endif %}
						{% endfor %}
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" style="font-size:95%"><em>Other Actions</em></h3>
					</div>
					<div class="list-group">
						<a href="/tv-shows/{{ show.tvshowid }}/play-season/{{ season_id }}" title="Enqueue all episodes and begin playing the first episode." class="list-group-item">Play Entire Season</a>
						<a href="/tv-shows/{{ show.tvshowid }}/play-random/{{ season_id }}" class="list-group-item">Play Random Episode from Season {{ season_id }}</a>

					</div>
				</div>


			</div>

			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">{{ show.label }} - Season {{ season_id }} </h3>
					</div>
					<div class="panel-body">
						{% for row in episodes %}
						<div class="row">
						{% for episode in row %}
							<div class="col-md-4">
							{% include 'episode-column.html' %}
							</div><!-- end col -->
					{% endfor %}
				</div>
				{% endfor %}

			</div>
		</div>
	</div>
{% endblock %}
