{% extends "base.html" %}
{% block title %}TARS - TV Shows{% endblock %}

{% block content %}
<!-- info modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<iframe frameborder="0" class="info-iframe"></iframe>
</div>
</div>
</div>
<!-- end info modal -->

	<div class="container-fluid">
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">TV Shows</li>
		</ol>
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">TV Shows</h3>
					</div>
					<div class="list-group">
						{% for show in tv_shows %}
							<a href="/tv-shows/{{ show.tvshowid }}" class="list-group-item">{{ show.title }}</a>
						{% endfor %}

					</div>
				</div>
			</div>

			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Recently Added TV Episodes</h3>
					</div>
					<div class="panel-body">
						{% for row in recently_added_episodes %}
						<div class="row">
						{% for episode in row %}
							<div class="col-md-4">
							{% include 'episode-column.html' %}
							</div><!-- end col -->
					{% endfor %}
				</div>
				{% endfor %}

			</div>
		</div>
	</div>
{% endblock %}
