{% extends "base.html" %}
{% block title %}TARS - TV Shows{% endblock %}

{% block content %}
<!-- info modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<iframe frameborder="0" class="info-iframe"></iframe>
</div>
</div>
</div>
<!-- end info modal -->

	<div class="container-fluid">
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">TV Shows</li>
		</ol>
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">TV Shows</h3>
					</div>
					<div class="list-group">
						{% for show in tv_shows %}
							<a href="/tv-shows/{{ show.tvshowid }}" class="list-group-item">{{ show.title }}</a>
						{% endfor %}

					</div>
				</div>
			</div>

			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Recently Added TV Episodes</h3>
					</div>
					<div class="panel-body">
													{% for row in recently_added_episodes %}
						<div class="row">
						{% for episode in row %}
							<div class="col-md-4">
						<div class="thumbnail">
														<img class="media-object" width="220" src="{{ config.KODI_URI }}/image/{{ episode.thumbnail|urlencode }}" alt="Generic placeholder image">
							<div class="caption">
								<div class="text-center">
																<h4 class="tv-info-showtitle">{{ episode.showtitle }}</h4>
																<p class="tv-info-epinum">Season {{ episode.season }} - Episode {{ episode.episode }} ({{ episode.firstaired }})</p>
																<p class="tv-info-epititle">{{ episode.title }} </p>
										<p></p>
										<p class="movie-desc" style="font-size:85%;">{{ episode.plot|truncate(350) }}</p>
<div class="btn-group">
													<button type="button" data-episode-id="{{ episode.episodeid }}" class="playEpisode btn btn-success btn-xs"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play</button>
													<button type="button" data-episode-id="{{ episode.episodeid }}" class="enqueueEpisode btn btn-default btn-xs"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Enqueue</button>
													<button type="button" data-episode-id="{{ episode.episodeid }}" data-toggle="modal" data-target="#infoModal" class="infoEpisode btn btn-default btn-xs"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Info</button>
												</div>

				</div>


							</div>
						</div>
					</div><!-- end col -->
					{% endfor %}
				</div>
				{% endfor %}

			</div>
		</div>
	</div>
{% endblock %}
